@import "../../general";

.container {
    margin-top: 2rem;
    
  .light{
    color: $dark;
  }
  .dark{
    color: $light;
  }

  .title {
    @include subTitle;

  }
  .subtitle {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .text {
    margin-top: 1rem;
    @include textMobile;
    @include spanMobile;
  }
  
}
