//COLORS
$light : #F2F2FC;
$dark: #1A1C2C;
$darkSecond: #3A3E56;
$color03: #00B2FF;
$color04: #225480;
$yellow: #FFD600;
$White: #fff;
$gray: #999999;
$gray02: #BDBDBD;
$gray03: #e0e0e0;

//Fuentes
$h2: 1.7rem;
$subTitleMobile: 2rem;
$text: 1.2rem;

//Mixing
@mixin  generalContainer {
    max-width: 95%;
    margin: 0 auto;
    /* Desktop */
    @media (min-width: 1200px) { 
        max-width: 1200px;
    }
}
@mixin subTitle {
    margin-bottom: 1rem;
    font-size: 1.7rem;
}
@mixin textMobile {
    line-height: 2rem;
    font-size: 1.2rem;
}
@mixin spanMobile {
    span {
        font-size: 1.2rem;
        font-weight: bold;
    }
}